@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

:root{
    --background : #111112;
    --accentColor: #8458B3;
    --clearColor: #A0D2EB;
    --fontColor: #ded7e3;
}
*{
    color: var(--fontColor);
}
body{
    background-color: var(--background);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    place-items: center;
    color: var(--fontColor);
    font-family: 'Monserrat', sans-serif;
}
textarea:focus, input:focus{
    outline: none;
}

.invisible{
    display: none!important;
}

a{
    text-decoration: none;
}